<%- include('cmpts/_header',{type: "play"}); %>
<%- include('cmpts/_nav',{type: "play"}); %>
<%- include('cmpts/_tags',{type: "play"}); %>
<div class="head-video">
	<div class="inner head-video-main">
		<video autoplay poster="images/cover.png"
		 style="height:100%;width:100%;" preload="none" controls playsinline webkit-playsinline>
			<source src="http://img.1991th.com/tuchongeter/article/56e87e924624c7779.mp4" type="video/mp4"/>
		</video>
	</div>
</div>
<div class="video-data">
	<div class="inner">
		<div class="title">教你使用Final cut pro X制作拉伸缩放旋转的效果</div>
		<div class="desc">
			<p>1、使用稳定移动的视频效果更佳</p>
			<p>2、旋转视频-10或者10度</p>
			<p>3、缩放视频130%</p>
			<p>4、点击裁剪，选择Ken Burns</p>
			<div class="desc-mask"></div>
		</div>
		<div class="btn-desc">
			<a class="btn-desc btn-desc-open" href="javascript:;">展开</a>
			<a class="btn-desc btn-desc-close" href="javascript:;">收起</a></div>
	</div>
</div>	
<%- include('cmpts/_footer',{type: "play"}); %>	