<ul class="article-list article-index clearfix">
	<li class="article-li" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.4,'distance':60}">
		<a href="/play.html">
			<span class="article-thumb">
				<img src="https://static.skyandroid.cn/images/placeholder-article-list.png" data-src="https://static.skyandroid.cn/images/manager-header/20190821156639104880490.png?x-oss-process=style/h_180-w_320|https://static.skyandroid.cn/images/manager-header/20190821156639104880490.png?x-oss-process=style/h_360-w_640"/>
				<span class="time">03:14</span>
			</span>
			<span class="article-bd">
				<span class="title title-h">这几个设置屏保设置小技巧，你一定不懂！</span>
				<span class="state-box">
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2019.08.21</span>
					</span>
				</span>
			</span>
		</a></li>
	<li class="article-li" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.4,'distance':60}">
		<a href="/play.html">
			<span class="article-thumb">
				<img src="https://static.skyandroid.cn/images/placeholder-article-list.png" data-src="https://static.skyandroid.cn/images/manager-header/20190809156534096410215.png?x-oss-process=style/h_180-w_320|https://static.skyandroid.cn/images/manager-header/20190809156534096410215.png?x-oss-process=style/h_360-w_640"/>
				<span class="time">02:43</span>
			</span>
			<span class="article-bd">
				<span class="title title-h">macOS桌面壁纸设置技巧</span>
				<span class="state-box">
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2019.08.10</span>
					</span>
				</span>
			</span>
		</a></li>
	<li class="article-li" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.4,'distance':60}">
		<a href="/play.html">
			<span class="article-thumb">
				<img src="https://static.skyandroid.cn/images/placeholder-article-list.png" data-src="https://static.skyandroid.cn/images/manager-header/20190628156171140072211.png?x-oss-process=style/h_180-w_320|https://static.skyandroid.cn/images/manager-header/20190628156171140072211.png?x-oss-process=style/h_360-w_640"/>
				<span class="time">02:03</span>
			</span>
			<span class="article-bd">
				<span class="title title-h">Mac中最强大内置搜索引擎-Spotlight</span>
				<span class="state-box">
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2019.06.29</span>
					</span>
				</span>
			</span>
		</a></li>
	<li class="article-li" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.4,'distance':60}">
		<a href="/play.html">
			<span class="article-thumb">
				<img src="https://static.skyandroid.cn/images/placeholder-article-list.png" data-src="https://static.skyandroid.cn/images/manager-header/20190329155382661969408.png?x-oss-process=style/h_180-w_320|https://static.skyandroid.cn/images/manager-header/20190329155382661969408.png?x-oss-process=style/h_360-w_640"/>
				<span class="time">03:38</span>
			</span>
			<span class="article-bd">
				<span class="title title-h">macOS中的Finder实用小技巧（下）</span>
				<span class="state-box">
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2019.03.29</span>
					</span>
				</span>
			</span>
		</a></li>
	<li class="article-li" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.4,'distance':60}">
		<a href="/play.html">
			<span class="article-thumb">
				<img src="https://static.skyandroid.cn/images/placeholder-article-list.png" data-src="https://static.skyandroid.cn/images/manager-header/20190301155143282048606.png?x-oss-process=style/h_180-w_320|https://static.skyandroid.cn/images/manager-header/20190301155143282048606.png?x-oss-process=style/h_360-w_640"/>
				<span class="time">03:14</span>
			</span>
			<span class="article-bd">
				<span class="title title-h">macOS中的Finder实用小技巧（上）</span>
				<span class="state-box">
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2019.03.01</span>
					</span>
				</span>
			</span>
		</a></li>
</ul>