<ul class="top50-list">
	<li data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="/post.html">
			<div class="thumb">
				<img data-src="https://static.skyandroid.cn/images/logo/2017122815144313169716.png?x-oss-process=style/h_100-w_100|https://static.skyandroid.cn/images/logo/2017122815144313169716.png?x-oss-process=style/h_200-w_200"
				 src="https://static.skyandroid.cn/images/placeholder.png" alt=""/>
			 </div>
			<div class="info">
				<div class="count">1</div>
				<div class="name">
					Adobe Zii 2020 5.1.8</div>
				<div class="desc">Adobe套装激活工具</div>
			</div>
		</a>
		<div class="btns">
			<a class="btn btn-download" href="/app/graphics-design/adobe-zii">
				免费下载
			</a></div>
	</li>
	<li data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="/post.html">
			<div class="thumb">
				<img data-src="https://static.skyandroid.cn/images/logo/20200219158210233361582.png?x-oss-process=style/h_100-w_100|https://static.skyandroid.cn/images/logo/20200219158210233361582.png?x-oss-process=style/h_200-w_200"
				 src="https://static.skyandroid.cn/images/placeholder.png" alt=""/>
			 </div>
			<div class="info">
				<div class="count">2</div>
				<div class="name">
					Downie 4.0.3</div>
				<div class="desc">视频下载工具</div>
			</div>
		</a>
		<div class="btns">
			<a class="btn btn-download" href="/app/internet/downie">
				免费下载
			</a></div>
	</li>
	<li data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="/post.html">
			<div class="thumb">
				<img data-src="https://static.skyandroid.cn/images/logo/2018011615160865585861.png?x-oss-process=style/h_100-w_100|https://static.skyandroid.cn/images/logo/2018011615160865585861.png?x-oss-process=style/h_200-w_200"
				 src="https://static.skyandroid.cn/images/placeholder.png" alt=""/>
			 </div>
			<div class="info">
				<div class="count">3</div>
				<div class="name">
					The Unarchiver 4.1.0</div>
				<div class="desc">优秀的免费解压缩工具</div>
			</div>
		</a>
		<div class="btns">
			<a class="btn btn-download" href="/app/system/the-unarchiver">
				免费下载
			</a></div>
	</li>
</ul>