<div class="g-box no-padding">
	<a href="http://wm.makeding.com/iclk/?zoneid=23080" class="post-img" target="_blank" data-type="admodel"
	 data-resource="12">
		<img src="https://static.skyandroid.cn/images/app_screen/20181216154489802233249.png">
		<span class="tag">AD</span>
	</a>
</div>