<div class="media-wrapper">
	<iframe src="<%=iframeData%>" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" style="width:100%;height:400px;"
	 webkitallowfullscreen mozallowfullscreen allowfullscreen>
	</iframe>
</div>