<ul class="macBL-pager">
	<li class="prev disabled"><i class="icon-left"></i></li>
	<li class="active"><a href="https://www.macbl.com/app/new?&page=1">1</a></li>
	<li><a href="https://www.macbl.com/app/new?&page=2">2</a></li>
	<li><a href="https://www.macbl.com/app/new?&page=3">3</a></li>
	<li class="omit">...</li>
	<li><a href="https://www.macbl.com/app/new?&page=170">170</a></li>
	<li class="next"><a href="https://www.macbl.com/app/new?&page=2"><i class="icon-right"></i></a></li>
</ul>