<div class="gb-search">
	<label for="search" class="icon-search"></label>
	<input type="text" name="search" placeholder="输入搜索关键字" value="" autocorrect="off" autocapitalize="off"
	 autocomplete="off" spellcheck="false"/>
</div>
<button class="search-close">
	<span></span>
	<span></span>
</button>
<div class="search-menu" id="search-menu">
	<ul></ul>
</div>