<div class="bdsharebuttonbox opacity" style="position: fixed;left: 50%;top: 50%;transform: translate(-50%,-50%); margin-left: -540px;">
	<a class="bds_sponsor" title="top" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
		<img src="<%=relative_path%>icon/icon-sponsor.png" style="width:100%;">
	</a>
	<p style="margin-top: 12px;font-size: 12px; color: #838383; text-align: center;">
		回<br>
		到<br>
		顶<br>
		部
	</p>
</div>