<div class="tags-clean">
	<div class="inner inner-ul clearfix">
		<a href="/video">
			所有视频<span></span>
		</a>
		<a href="/video/tips" class="active">Mac小技巧<span></span></a>
		<a href="/video/games">游戏世界<span></span></a>

	</div>
</div>