<div class="slideshow clearfix">
	<div id="img-swiper" class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="/post.html">
					<img data-src="https://static.skyandroid.cn/images/slides/20190821156635334765835.png?x-oss-process=style/h_300-w_750|https://static.skyandroid.cn/images/slides/20190821156635334765835.png?x-oss-process=style/h_600-w_1500"
					 src="https://static.skyandroid.cn/images/placeholder-article-list.png"/>
				</a></div>
			<div class="swiper-slide">
				<a href="/post.html">
					<img data-src="https://static.skyandroid.cn/images/slides/20190814156577385460439.png?x-oss-process=style/h_300-w_750|https://static.skyandroid.cn/images/slides/20190814156577385460439.png?x-oss-process=style/h_600-w_1500"
					 src="https://static.skyandroid.cn/images/placeholder-article-list.png"/>
				</a></div>
			<div class="swiper-slide">
				<a href="/post.html">
					<img data-src="https://static.skyandroid.cn/images/slides/20190807156515843141127.png?x-oss-process=style/h_300-w_750|https://static.skyandroid.cn/images/slides/20190807156515843141127.png?x-oss-process=style/h_600-w_1500"
					 src="https://static.skyandroid.cn/images/placeholder-article-list.png"/>
				</a></div>

		</div>
	</div>
	<div id="tab-swiper" class="swiper-container tabs-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide tab"><img data-src="https://static.skyandroid.cn/images/slides/20190821156635334765835.png?x-oss-process=style/h_100-w_250|https://static.skyandroid.cn/images/slides/20190821156635334765835.png?x-oss-process=style/h_200-w_500"
				 src="https://static.skyandroid.cn/images/slides/20190821156635334765835.png?x-oss-process=style/h_100-w_250"/></div>
			<div class="swiper-slide tab"><img data-src="https://static.skyandroid.cn/images/slides/20190814156577385460439.png?x-oss-process=style/h_100-w_250|https://static.skyandroid.cn/images/slides/20190814156577385460439.png?x-oss-process=style/h_200-w_500"
				 src="https://static.skyandroid.cn/images/slides/20190814156577385460439.png?x-oss-process=style/h_100-w_250"/></div>
			<div class="swiper-slide tab"><img data-src="https://static.skyandroid.cn/images/slides/20190807156515843141127.png?x-oss-process=style/h_100-w_250|https://static.skyandroid.cn/images/slides/20190807156515843141127.png?x-oss-process=style/h_200-w_500"
				 src="https://static.skyandroid.cn/images/slides/20190807156515843141127.png?x-oss-process=style/h_100-w_250"/></div>

		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>