<div class="slideshow clearfix">
	<div id="img-swiper" class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="<%=relative_path%>post.html">
					<img data-src="http://img.1991th.com/tuchongeter/statics/25NXCF73UGZE28A"
					 src="http://img.1991th.com/tuchongeter/statics/25NXCF73UGZE28A"/>
				</a></div>
			<div class="swiper-slide">
				<a href="<%=relative_path%>post.html">
					<img data-src="http://img.1991th.com/tuchongeter/statics/25NXCF73UGZE28A"
					 src="http://img.1991th.com/tuchongeter/statics/25NXCF73UGZE28A"/>
				</a></div>
			<div class="swiper-slide">
				<a href="<%=relative_path%>post.html">
					<img data-src="http://img.1991th.com/tuchongeter/statics/25NXCF73UGZE28A"
					 src="http://img.1991th.com/tuchongeter/statics/25NXCF73UGZE28A"/>
				</a></div>

		</div>
	</div>
	<div id="tab-swiper" class="swiper-container tabs-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide tab"><img data-src="http://img.1991th.com/tuchongeter/statics/56OX7UYZX3W9AML"
				 src="http://img.1991th.com/tuchongeter/statics/56OX7UYZX3W9AML"/></div>
			<div class="swiper-slide tab"><img data-src="http://img.1991th.com/tuchongeter/statics/56OX7UYZX3W9AML"
				 src="http://img.1991th.com/tuchongeter/statics/56OX7UYZX3W9AML"/></div>
			<div class="swiper-slide tab"><img data-src="http://img.1991th.com/tuchongeter/statics/56OX7UYZX3W9AML"
				 src="http://img.1991th.com/tuchongeter/statics/56OX7UYZX3W9AML"/></div>

		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>